.form-container {
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
}

input {
    width: 80% !important;
}

button:first-of-type {
    margin-right: 14px;
}

#submit-result-msg {
    font-family: var(--bs-body-font-family);
    margin-top: 10px;
    color: #04aa6d;
}

#error-msg-name,
#error-msg-surname,
#error-msg-id-number,
#error-msg-date-of-birth {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #dc3545;
    font-size: 15px;
}

#date-of-birth {
    padding: .375rem .75rem;
    border-radius: 0.375rem;
}